.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 0;
}
.footerImg{
    width: 35%;
}
.footerText{
    width: 30%;
    font-size: 120%;
    margin-left: 5%;
}
.footMainText{
    font-weight: bold;
}
.footerAuthor{
    margin-top: 20px;
}